html{
    background-color: black;
}
body{
    background-color: rgb(37, 37, 37);
    outline-width: 3px;
    outline-style: double;
    font-family: fantasy;
}
#Container{
    height: 850px;
    width: 1600px;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: var(--sketchborder-color);
    border-width: 5px;
}
.StandardTitle{
    cursor: default;
    width: 550px;
    height: 100px;
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
    font-size: 4rem;
    line-height: 1.5em;
    color: gold;
    text-shadow: -2px 0 rgb(184, 138, 24),
    2px 0 rgb(184, 138, 24),
    0 2px rgb(184, 138, 24),
    0 -2px rgb(184, 138, 24),
    0 0 15px black;
}
#SketchScreenContainer{
    width: 1205px;
    height: 600px;
    display: flex;
    margin: auto;
    margin-top: auto;
    flex-wrap: wrap;
    outline-style: solid;
    outline-width: 4px;
    outline-color: var(--sketchborder-color);
}
.SketchElementEmpty{
    background-color: var(--sketchempty-color);
    /*background-color: rgb(212, 212, 212);*/
}
.SketchElementUsed{
    background-color: var(--sketchused-color);
    /*background-color: rgb(82, 82, 82);*/
}
.SketchElement{
    width: var(--sketch-width);
    height: var(--sketch-width);
    display: flex;
}
#SketchDensityButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    margin: auto;
    padding-left: 0%;
    margin-top: 25px;
    width: 500px;
    height: 20px;
}
#DensityButtonLabel{
    color: goldenrod;
    text-shadow: 0 0 2px black;
    font-size: large;
    cursor: default;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    font-size: larger;
}
#SketchEraseButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 25px;
    width: 500px;
    height: 75px;
}
.erasebutton{
    width: 120px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
}
.erasebutton:hover{
    cursor: pointer;
}
.densitybutton:hover{
    cursor: pointer;
}
.sketchbutton{
    position: relative;
    color: black;
    background-color: white;
    border: 0.125em solid white;
    border-radius: 10%;
    box-shadow: 0 0 .5em black;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    padding: 5px;
    font-size: normal;
    transition: 0.2s;
}
.sketchbutton:hover{
    font-size: 1.1em;
    border-color: goldenrod;
    box-shadow: 0 0 .5em goldenrod;
}
.sketchbutton:focus{
    font-size: 1.1em;
}
#ColorScheme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow: -1px 0 black,
    1px 0 black,
    0 1px black,
    0 -1px black;
    letter-spacing: 0.1em;
}
.neonbutton{
    position: relative;
    color: white;
    background-color: black;
    border: 0.125em solid black;
    border-radius: 10%;
    box-shadow: 0 0 .5em white;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    padding: 5px;
    font-size: normal;
    transition: 0.2s;
}
.RainbowLetters{
    text-shadow: var(--rletter-shadow);
}